.color_black_lite{
	background:#e2e2e2;
}

.color_black{
	background:#333333;
}

.color_white{
	background:#fff;
}

.fa-i{
	background:#3B5998;
}

.tw{
	background:#5EA9DD;
}

.you{
	background:#FB2106;
}

.gplus{
	background:#DD4B39;
}

.linkedin{
	background:#0177B5;
}

.m_color_1{
	background:#23B4CA;
}

.m_color_2{
	background:#40AF64;
}

.m_color_3{
	background:#6E45A7;
}

.m_color_4{
	background:#F7BE24;
}

.m_color_5{
	background:#DE5648;
}

.m_color_6{
	background:#333;
}